.logobar {
  background-color: black;
  color: white;
  padding: 20px 0;
}
.headerContainer {
  background: url('../img/curve.jpg') left center no-repeat transparent;
  background-size: cover;
  padding-top: 20px;
  margin-bottom: 20px;
}
.identityBox {
  text-align: right;
}
.discoverSection h2 {
  background-color: #e34949;
  color: white;
  font-size: 30px;
  margin-bottom: 0;
  padding: 10px 20px;
}
.discoverBox {
  background-color: rgba(255, 255, 255, 0.2);
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  -webkit-box-shadow: 10px 10px 5px -8px rgba(128,128,128,0.6);
  -moz-box-shadow: 10px 10px 5px -8px rgba(128,128,128,0.6);
  box-shadow: 10px 10px 5px -8px rgba(128,128,128,0.4), -10px 10px 5px -8px rgba(128,128,128,0.4);
  margin-bottom: 20px;
  padding: 20px;
}
h1, h2 {
  font-family: 'Roboto', sans-serif;
}
h1 {
  margin-bottom: 20px;
  text-align: center;
}
h2 {
  font-weight: 500;
  color: #333;
}
.welcomeSection p {
  color: #666;
  font-size: 24px;
  line-height: 34px;
}
article {
  background-color: #FAFAFA;
}
.row article.row {
  -webkit-box-shadow: 10px 10px 5px -8px rgba(128,128,128,0.6);
  -moz-box-shadow: 10px 10px 5px -8px rgba(128,128,128,0.6);
  box-shadow: 10px 10px 5px -8px rgba(128,128,128,0.4), -10px 10px 5px -8px rgba(128,128,128,0.4);
  font-family: 'Roboto', Helvetica, sans-serif;
  margin-bottom: 20px;

}
.discoverBox form {
  margin-bottom: 10px;
}

.recommendations div article {
  width: 32%;
}
.recommendations div article.large-4:nth-child(2) {
  margin-right: 2%;
  margin-left: 2%;
}
.welcomeSection.columns {
  padding-left: 0;
}
.subheader {
  margin: 0 -0.9375rem 15px;
}
.reviewAuthor {
  font-size: 14px;
}
.reviewAuthor:before {
  content: '~ ';
}
.rating {
  color: #e34949;
}
.bookcontainer {
  padding: 0;
}
.optionsBox a {
  display: inline-block;
  float: left;
  width: 50%;
}
aside {
    font-family: 'Roboto', Helvetica, sans-serif;
}
aside > ul.collectionList {
  padding: 0;
  list-style: none;
}
aside > ul.collectionList > li {
  padding-top: 10px;
}
aside > ul.collectionList > li > a {
  font-weight: bold;
}
aside > ul.collectionList a:hover {
  text-decoration: underline;
}
.searchResetBtn {
    height: 36px;
    border: 1px solid #ccc;
    margin-left: 2px;
}