@font-face {
    font-family: 'aleobolditalic';
    src: url('fonts/Aleo-BoldItalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleobold';
    src: url('fonts/Aleo-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleoregular';
    src: url('fonts/Aleo-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body .welcomeSection p {
  font-size: 18px;
  line-height: 23px;
  color: #333;

}

body {
  background-color: #F7F7F7;
}

.logobar {
  background-color: black;
  color: white;
  padding: 20px 0;
}
.logoDescription {
  color: #AC363A;
  font-size: 14px;
  position: relative;
  top: 9px;
  line-height: 17px;
}
.username {
  line-height: 37px;
  font-size: 14px;
}
.headerContainer {
  background: linear-gradient(to right,rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('/img/curve.jpg') no-repeat;
  background-position: center;
  background-position-y: 68.5%;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 20px;
  margin-bottom: 60px;
}
.identityBox {
  text-align: right;
}
.discoverHeader {
  padding: 0px 0;
}
.discoverSection {
  overflow: hidden;
}
.discoverSection h2 {
  font-family: 'Aleobold', serif;
  font-size: 96px;
  position: absolute;
  left: -2px;
  line-height: 1;
  top: -10px;
  color: rgba(255, 255, 255, 0.2);
  margin-left: -19px;
}
.discoverBox {
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid black;
  border-left: 1px solid black;
  -webkit-box-shadow: 10px 10px 5px -8px rgba(128,128,128,0.8);
  -moz-box-shadow: 10px 10px 5px -8px rgba(128,128,128,0.8);
  box-shadow: 10px 10px 5px -8px rgba(128,128,128,0.7), -10px 10px 5px -8px rgba(128,128,128,0.7);
  margin-bottom: 70px;
  overflow: hidden;
  padding: 60px 150px 40px;
  position: relative;
}
#searchInput::placeholder {
  font-size: 17px;
  color: #878787;
  margin-right: 50px;
  font-family: 'aleobold';
}
.magnifyingGlass {
  padding: 16px;
}
label.magnifyingGlassLabel {
  height: 58px;
  width: 58px;
  background: linear-gradient(#4BB8E6,#2362AE);
}
input.searchField {
  height: 58px;
  padding-left: 25px;
}
.aside--column {
  margin-top: -40px;
}
h1, h2 {
  font-family: 'aleobold', sans-serif;
}
h1 {
  margin-bottom: 20px;
  text-align: center;
}
article {
  background-color: #FAFAFA;
}
.row article.row {
  /* -webkit-box-shadow: 10px 10px 5px -8px rgba(128,128,128,0.6);
  -moz-box-shadow: 10px 10px 5px -8px rgba(128,128,128,0.6);
  box-shadow: 10px 10px 5px -8px rgba(128,128,128,0.4), -10px 10px 5px -8px rgba(128,128,128,0.4); */
  margin-bottom: 20px;
}
.discoverBox form {
  margin-bottom: 10px;
}
.reviews.columns {
  padding: 0px;
}
.recommendations div article {
  width: 32%;
}
.recommendations div article.large-4:nth-child(2) {
  margin-right: 2%;
  margin-left: 2%;
}
.recommendation__book-cards,
.review__book-cards {
  margin-right: 20px;
  margin-bottom: 40px;
  margin-top: -25px;
  width: 340px;
  height: 340px;
  background-color: #FFFFFF;
}
.recommendation__book-cards--card,
.review__book-cards--card { 
  height: 340px;
  padding: 20px;
}
.recommendation__book-cards--title,
.review__book-cards--title {
  color: #666666;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}
.recommendation__book-cards--author,
.review__book-cards--author {
  color: #666666;
  font-size: 12px;
  margin-bottom: 0px;
}
.recommendation__book-cards--image,
.review__book-cards--image {
  margin-bottom: 20px;
}
.recommendation__book-cards--text,
.review__book-cards--text {
  font-size: 15px;
  margin-bottom: 20px;
}
.button {
  padding: 2px 11px; 
  border-radius: 10px;
  width: 110px;
  height: 30px;
  margin-top: -20px;
  margin-right: 10px;
}
.button span {
  line-height: 18px;
}
.button.primary {
  background: linear-gradient(#4BB8E6,#2362AE);
  font-size: 14px;
  width: 110px;
}
.plusSign {
  font-size: 24px;
  margin-right: 15px;
}
.button.secondary {
  border: 1px solid #2A70B7;
  background-color: transparent;
  padding-top: 3px;
  width: 110px;
}
.button.secondary span {
  color: #286EB6;
  font-size: 14px;
}
.welcomeSection.columns {
  padding-left: 0;
  margin-bottom: 60px;
}
.subheader__h2 {
  margin: 0 -0.9375rem 15px -20px;
  font-size: 46px;
  line-height: 55px;
  color: #BABABA;
}
.welcome {
  color: #666666;
  font-size: 22px;
  margin-left: -30px;
}
.reviewAuthor {
  font-size: 14px;
}
.reviewAuthor:before {
  content: '~ ';
}
.rating {
  color: #e34949;
}
.recommendation__book-cards--card {
  margin-right: 21px;
}
.optionsBox a {
  display: inline-block;
  float: left;
  width: 50%;
}
aside {
    font-family: 'aleobold', sans-serif;
    background-color: #AC363A;
    position: relative;
    top: -20px;
    padding-top: 20px;
    overflow: hidden;
}
aside h2.getInspired {
  color: rgba(0,0,0,0.25);
  position: relative;
  left: -25px;
}
aside a:link, aside a:visited, aside a:hover, aside a:active  {
  color: white;
}
aside > ul.collectionList {
  padding: 0;
  list-style: none;
}
aside ul ul {
  list-style: none;
}
aside > ul.collectionList > li {
  padding-top: 10px;
  font-weight: bold;
}
aside > ul.collectionList > li > a {
  font-size: 20px;
  font-weight: 300;
}
aside > ul.collectionList > li ul a {
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  font-family: 'aleoregular';
}
aside > ul.collectionList a:hover {
  text-decoration: underline;
}
.contentContainer {
  display: flex;
  flex-grow: 1;
}
form .row .postfix-radius.row.collapse button.searchResetBtn {
    height: 37px;
    border: 1px solid #ccc;
    border-left: none;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;}
label.postfix.searchLabel {
  font-size: 0.6875rem;
}